@media only screen and (max-width:750px) {
    .foot{
        display: flex !important;
        flex-direction: column !important;
        position: relative !important;
    }
}
@media only screen and (max-width:490px)
{
    .navbar{
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      text-align: center !important;
    background-color: rgb(238, 207, 238);
      
    }
   .s-content
   {
       display: none;
   }
   .s-heading
   {
       text-align: center;
   }
}
@media only screen and (max-width:1200px)
{
    .cdeck{
        width : 100% !important;
        display: flex !important;
        flex-direction:  column !important;
        margin-top: 20px !important;
    }
}